
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/my_appointments.css">
</head>
<body>
    <div class="container">
        <h2>My Appointments</h2>
        <nav>
            <a href="login.html" onclick="logout()" id="logout-link">Logout</a>
            <a href="appointments.html" onclick="appointment()" id="myappointment-link">Dashboard</a>
        </nav>
        <ul id="appointments-list"></ul>
    </div>

    <script src="../js/my_appointments.js"></script>
</body>
</html>
